.carousel-inner > div > img {
    width: 700px;
    height: 500px;
}

.list-group > li > a {
    font-weight: bold;
    color: black;
}

.list-group-item.active{
    font-weight: bold;
    font-size: 20px;
    background-color: #1F6F44;
}

.list-group-item.active > a{
    background-color: #1F6F44 !important;
    color: white !important;
}




